/// shake animation
/// @name shake
/// @group animations
@keyframes shake {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-10px);
  }

  50% {
    transform: translate(10px);
  }

  75% {
    transform: translate(-10px);
  }

  100% {
    transform: translate(0);
  }
}

/// shake mixin
/// @name shake
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @example
///    @include shake();
///    @include shake(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .shake
@mixin shake($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: shake;
  animation-timing-function: linear;
}

.shake {
  @include shake();
}
