////
/// Text Elements
/// @group text
/// @author Mark Scripter - mscripter@horizontalintegration.com

// unstyled elements
abbr {}
cite {}
code {
  background-color: $gray-lighter;
  border: 1px solid $black;
  border-radius: 3px;
  box-sizing: border-box;
  color: $black;
  display: block;
  margin-top: $margin-vertical--small;
  padding: 3px 5px;
}
data {}
dd {}
dfn {}
div {}
dl {}
dt {}
em {}
hr {}
i {}
kbd {
  background-color: $gray-lighter;
  border-radius: 3px;
  box-sizing: border-box;
  color: $black;
  padding: 2px 4px;

  &:before {
    content: "\203A";
    display: inline;
    margin-right: 5px;
  }
}
main {}
mark {}
p {
  margin: $margin-vertical--small 0px;
}
pre {}
q {}
rt {}
span {}
sup {}
time {}

// styled elements
a {
  color: $primary;
  text-decoration: underline;

  &:hover {
    color: darken($primary, 25%);
  }

  &:active,
  &:focus {
    color: lighten($primary, 25%);
  }
}
